.navbar-nav a{
	font-size: 18px;
}

.navbar-dark .navbar-brand{
	font-weight: bold;
	color : #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-nav{
	text-align: center;
}

.nav-link{
	padding:.2rem 1rem;
}

.nav-link.active, .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	color:#fff !important;
}

body{
	background: url("img/bg-check.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: 95%;
}

@font-face {
  font-family: 'MadeTommy';
  src: url(font/MADE TOMMY Regular Outline_PERSONAL USE.otf);
}

#bungkus1{    

	opacity: 98%;
    background-color: #313131;
    border: 1px solid;
    border-radius: 15px;
    padding-bottom: 40px;
}

h1{
	color:white;
}
h2{

	color:white;
}
h3{

	color:white;
}

h4{

	color:white;
}

h6{
	font-size: 16px;
}
label{
	color:white;
}


